body {
    background-color: powderblue
}

h1 {
    text-align: center;
    color: orangered;
    font-family: monospace;
    font-size: 40px;
}

#Welcome {
    text-align: center;
    color: cornflowerblue;
    font-family: monospace;
    font-size: 20px;
}

#noway {
    text-align: center;
    color: orangered;
    font-family: monospace;
    font-size: 75px;
}

ol {
     text-align: center;
    color: orangered;
    font-family: fantasy;
    font-size: 20px;
}

#Pets1 {
    text-align: center;
    color: cornflowerblue;
    font-family: monospace;
    font-size: 20px;
}
