body {
    background-color: powderblue
}

h1 {
    color:orangered;
    text-align: center;
    font-family: t-size: 50px;
}

#TheRules {
            text-align: center;
    color: orangered;
    font-family: monospace;
    font-size: 20px;     
}

#Welcome {
    text-align: center;
    color: cornflowerblue;
    font-family: monospace;
    font-size: 20px;
}

p.border{border-style: inset;}

h3.border2{border-style: groove;}

ol {
     text-align: center;
    color: orangered;
    font-family: fantasy;
    font-size: 20px;
}

#Pets1 {
    text-align: center;
    color: cornflowerblue;
    font-family: monospace;
    font-size: 20px;
}
